body{
    background-color: rgb(28, 28, 28);
    padding: 0; 
    margin: 0;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.header {
    color: rgba(232, 223, 223, 0.942);
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px; 
    background-color: rgb(28, 28, 28);
    box-shadow: 0px 5px 10px rgba(208, 203, 203, 0.1);
}
.time {
    margin-right: 20px;
}
.username {
    margin-right: 30px;
}

.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
.input{ 
    width: 95%;
    height: 60%;
    font-size: 25px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.message-bar {
    color: rgb(205, 211, 216);
    margin-left: 10px;
    padding: 10px;
}
.message {
    margin-top: 10px;
}
.room-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.room {
    color: rgba(232, 223, 223, 0.942);
    border-radius: 8px;
    padding: 20px;
    margin: 40px;
    width: 300px;
    text-align: left;
    border: 2px solid #ccc;
}

.text-container {
    width: calc(100% - 4px); 
    word-wrap:break-word;
}

.room h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.room p {
    margin-top: 0;
    margin-bottom: 10px;
    white-space: pre-line;
}
