<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class = "header"> 
        <span class= "username"> Guest </span>
        <span class= "time"></span>
    </div>
    <div class = "message-bar">
        <div class = "message">
            : /login or /register, choose one...  
        </div>
    </div>
    <div class = "footer">
        <input class = "input" type="text" placeholder="Say Hi">
    </div>

    <script src="/static/js/register.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/polling.js"></script>
</body>
</html>