<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class = "message-bar">
       : /login or /register, choose one... 
    </div>
    <div class = "footer">
        <input class = "input" type="text" placeholder="Say Hi">
    </div>

    <script src="/static/js/register.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>